$brand: #F24535;
$base: hsla(212, 43%, 7%, 1);
$mercury: #eff0f1;
$sub: hsla(212, 30%, 2%, 1);
$highlight: hsla(149, 80%, 60%, 1);
$neutral: hsla(102, 5%, 69%, 1);
$muted: hsla(208, 6%, 16%, 1);
$love:$brand;
$off-white: #EAEAEA;
$space: 20px;
$space__sm: 15px;
$space__md: 30px;
$space__lg: 50px;
$radius: 6px;
$hover: .2s;
$phone: 600px;
$facebook: #425697;
$twitter: #3AAAED;
$google-plus: #D7473D;
